*
{
  border:none;
}

.container {
  max-width: 950px;
}

.cover,
.po-title
{
  position:relative;
  padding:60px;
}

.cover::after
{
  content: "";
  display:block;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/plannedon.com/images/plannedonCover.png");
  opacity:0.15;
  filter: alpha(opacity=15);
  z-index: -1;
}

.cover-icon
{
  opacity: 0.25;
  filter: alpha(opacity=25);
}

